@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
    padding: 30px;
}

#tentacles {
    width: 50px;
}

.header,
.nav-bar,
#searchInput {
    display: flex;
    align-items: center;
    padding: 1%;
    box-sizing: border-box;
    width: 50%;
}

.header {
    background-color: lightblue;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.nav-bar {
    background-color: #444;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.nav-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: #555;
}

#searchInput {
    background-image: url('/assets/search-icon.png');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 8px 8px; /* Position the search icon */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0px;
}


/* Style for search results */
#searchResults {
    list-style-type: none;
    padding: 0%;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 0px;
    width: 50%;
}

#searchResults li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: flex; /* Make it into a block element to fill the whole list */
}

#searchResults li:hover {
    background-color: #eee;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.game-img {
    animation: fadeIn 1.5s ease-in-out;
  }

  /* Define the keyframes for the fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }